<div class="mb-3">
    <form method="GET">
    <label for="" class="form-label">Choose file</label>
    <input
        type="text"
        class="form-control"
        name="q"
        id=""
        placeholder=""
        aria-describedby="fileHelpId"
    />
    <button type="submit" class="btn btn-primary">Tìm kiếm</button>
    </form>
</div>
